<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- /Fontes -->
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modaisCadastrados.css">
    <!-- /CSS -->
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/4ad013ec14.js" crossorigin="anonymous"></script>
    <!-- /Fontawesome -->
    <title>CefeTransport</title>
</head>
<body>

    <nav th:replace="~{fragmentos/fragmentos :: header}"></nav>
    
    <main>

        <table id="tableModais">

            <tr id="trHead">
            
                <th class="th thRegistro">Registro</th>
                <th class="th thStatus">Status</th>
                <th class="th thTipo">Tipo</th>
                <th class="th thVagas">Vagas</th>
                <th class="th thAcoes">Ações</th>
            
            </tr>

            <tr id="trBody" th:each="modal : ${modalList}">
            
                <td class="td tdRegistro" th:text="${modal.registro}"></td>
                <td class="td tdStatus" th:text="${modal.status}"></td>
                <td class="td tdTipo" th:text="${modal.tipo}"></td>
                <td class="td tdVagas" th:text="${modal.vagas}"></td>
                <td class="td tdAcoes">
            
                    <a class="btn btn-alert">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    
                    <a class="btn btn-danger" th:href="@{/modal/deletar/{id}(id=${modal.id})}">
                        <i class="fas fa-times"></i> Excluir
                    </a>
            
                </td>
            
            </tr>

        </table>

    </main>

</body>
</html>